/* Importing Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importing Google Fonts */

/* Css Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --primary-color: #F0F8FF;
    --background1-color: #EDF9F2;

    --background2-color: #F1EBFF;
}

/* Css Reset */
/* Top Header */
.section-bg {
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(38, 208, 206, 1) 0%, rgba(26, 41, 128, 1) 100%);
}

.icon-frame {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(220, 220, 220, 0.3);
    transition: background-color .3s ease;
}

.icon-frame:hover {
    background-color: rgba(220, 220, 220, 1);
    cursor: pointer;
}

.icon-frame i {
    font-size: 18px;
    color: #fff;
    opacity: 1;
    transition: color .3s ease;
}
.icon-frame:hover i{
    color: #000;
}

/* Top Header */
/* Navbar */
.nav-list {
    text-align: left;
}

.nav-tags {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    position: relative;
    padding-bottom: 2px;
}

.nav-tags::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    transition: width .3s ease, left .3s ease;
}

.nav-tags:hover {
    color: #26D0CE;
}

.nav-tags:hover::before {
    width: 100%;
    left: 0;
}

.primary-btn {
    padding: 6px 10px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    background-size: 120% 100%;
    transition: background-position 0.5s ease;

}

.primary-btn:hover {
    color: #fff;
    background-position: 650% 130%;
}

.secondary-btn {
    padding: 6px 10px;
    font-weight: 600;
    border: none;
    outline: none;
    background-clip: padding-box;
    background-color: transparent;
    border: 1.4px solid transparent;
    border-image: linear-gradient(to right, #26D0CE 0%, #1A2980 100%) 1 round;
    position: relative;
}

.secondary-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    z-index: -1;
    transition: width .3s ease;
}

.secondary-btn:hover::before {
    width: 100%;
    color: #fff;

}

.secondary-btn:hover {
    color: #fff;

}


.gradient-text {
    font-weight: 600;
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;

}

/* Navbar */
/* Offcanvas Navbar */
.offcanvas-bars i {
    font-size: 26px;
}

.custom-offcanvas {
    background: linear-gradient(to right, #3eaaa8 0%, #445ad5e7 100%);
}

.custombtn-close {
    font-weight: 700;
}

/* Offcanvas Navbar */
/* Hero Section */
.carousel-img img {
    aspect-ratio: 16/5;
    object-fit: cover;
}

.carousel-item .carousel-caption {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 100%;
    width: 40%;
}



.carousel-chips {
    font-weight: 500;
    width: fit-content;
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 20px;
    background: linear-gradient(45deg, rgba(38, 208, 206, .5) 0%, rgba(26, 41, 128, .7) 100%);

}

.carousel-title {
    font-size: 32px;
    font-weight: 600;

}


.carousel-caption .custom-btn {
    padding: 6px 10px;
    font-weight: 600;
    border: none;
    outline: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #26D0CE 0%, #1A2980 100%) 1;
    position: relative;
    z-index: 1;
}

.carousel-caption .custom-btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    transition: width .4s ease;
    z-index: -1;
}

.carousel-caption .custom-btn:hover::before {
    width: 100%;

}

.hero-carousel .carousel-indicators [data-bs-target] {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transform: translateY(20px);
    background-color: #fff;
}

.hero-carousel .carousel-indicators [data-bs-target].active {
    background-color: #26D0CE;
}

/* Hero Section */
/* Platform Section */
.chips {
    padding: 4px 14px;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: inline-block;
    font-weight: 600;
    color: #000000d8;
}

.title-heading {
    font-size: 32px;
}

.section-descriptions {
    color: #5D5D5D;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: auto; */
    align-items: stretch;
    gap: 20px;
}

.box-title {
    font-size: 18px;
    font-weight: 500;
}

.box-para {
    font-size: 14px;
    font-weight: 400;
}

.grid-box-img {
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    border-radius: 4px;
}

.item1 {
    background-color: var(--background1-color);
}

.item2 {
    background-color: var(--primary-color);
}

.item3 {
    background-color: var(--background2-color);
}

/* Platform Section */
/* Features Platform */
.features {
    background-color: var(--primary-color);
}

.grid-container .card {
    border: none;
}

/* Features Platform */
/* Succes tory */
.stories {
    background-color: var(--primary-color);
}

.solaraid {
    background: url(source/images/green-solar-panel.svg) no-repeat center center/cover;
}

.solaraid-bg {
    background-color: rgba(38, 208, 206, 0.698);

    color: #fff;
}

.card-img-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Succes tory */


/* Process tabs */
.process-tabs {
    /* gap: 250px; */
    color: #fff;
}

.process-tabs .nav-item a.active {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    color: #fff;
}

.process-tabs .nav-item a {
    color: #000;
    font-weight: 600;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.process-tabs .nav-item span {
    color: #000;
    letter-spacing: 4px;
    display: inline;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    gap: 20px;
}

/* Process tabs */
/* How it works */
.hover-num {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all .4s ease;
}

.dash {
    letter-spacing: 5px;
    white-space: nowrap;
}

/*  */
.moving-area{
    position: relative;
    background-color: #26D0CE;
    width: 65%;
}
.moving-dashes{
    height: 2px;
    position: absolute;
    width: 10px;
    background-color:#26D0CE;  
animation: moveleft 3s infinite linear;
animation-play-state:running;
/* animation: animateOnLoad 2s forwards; */
}

/* .card:hover .moving-dashes{
    animation-play-state:running;

} */

.dash-1{
    animation-delay: 0s;
}
.dash-2{
    animation-delay: .3s;
}.dash-3{
    animation-delay: .6s;
}
.dash-4{
    animation-delay: .9s;
}
.dash-5{
    animation-delay: 1.2s;
}
.dash-6{
    animation-delay: 1.5s;
}
.dash-7{
    animation-delay: 1.8s;
}
.dash-8{
    animation-delay: 2.1s;
}
.dash-9{
    animation-delay: 2.4s;
}
.dash-10{
    animation-delay: 2.7s;
}

/* Animation */











.hover-ef {
    margin-bottom: 8px;

}

.card:hover .hover-num {
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    color: #fff;
}

/* How it works */
/* Testimonial */

.ellipse {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testimonial-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .5px;
}

.testimonial-description {
    font-size: 12px;
    font-weight: 400;

}
/* swiper */
.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.navigator-frame {
    position: absolute;
    top: 10px;
    right: 0px;
    height: 40px;
    width: 85px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 14px;
    background-color: #26D0CE;
    padding: 12px 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    transition: all .3s ease;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover:after {
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
}

.swiper-slide {
    text-align: start;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #000;
    border-radius: 4px;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

.swiper-slide-active {
    background: linear-gradient(to right, #26D0CE 0%, #1A2980 100%);
    color: #fff;
}
/* swiper */
/* Testimonial */
/* Footer */
.footer{
color: #fff;
    background-color: #1A2980;
}
.medium-para{
    font-size: 16px;
  
}
.tag-heading{
    font-size: 20px;
    margin-bottom: 0px;
font-weight: 600;
}
.quick-links{
    list-style: none;
    padding-left: 0px;
}
.quick-links li a{
font-size: 16px;
color: #fff;
font-weight: 500;
transition: color .4s ease;
}
.quick-links li::before{
    content:"";
    height: 12.5px;
    width: 8px;
    display: inline-block;
    background-image:url(source/images/vector.svg) ;
    background-position: center;
    background-size: cover;
    margin-right: 10px;

}
.conatct-us i{
color:#26D0CE;
font-size: 16px;
margin-right: 6px;
}

.copyright-symbol{
    font-size: 18px;
}

.quick-links li a:hover{
    color: #26D0CE;
}
/* Footer */







/* Media Queries */
@media (max-width:992px) {
    .nav-tags:hover {
        color: #ffffff;
    }

/* Paragraphs */
.medium-para{
    font-size: 14px;
}
/* Paragraphs */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .grid-box-img {
        height: 60px;
    }

    .grid-box-img img {
        height: 50px;
    }

    .box-title {
        font-size: 16px;
        font-weight: 500;
    }

    .box-para {
        font-size: 12px;
        font-weight: 400;
    }

    .chips {
        font-size: 12px;
    }

    .title-heading {
        font-size: 22px;
    }

    .section-descriptions {
        font-size: 14px;
    }

    .grid-container2 {

        grid-template-columns: repeat(3, 1fr);
    }
    .quick-links li a{
        font-size: 13px;
        }
        .tag-heading{
            font-size: 16px;
        }
        .conatct-us p{
            font-size: 13px;
        }
}

@media (max-width:768px) {
    .carousel-title {
        font-size: 26px;
        font-weight: 600;
    }

    .carousel-chips {
        font-size: 12px;
    }

    .title-description {
        font-size: 14px;
    }

    .carousel-caption .custom-btn {
        padding: 4px 8px;
        font-size: 14px;
    }

    .primary-btn {
        padding: 4px 8px;
        font-size: 14px;
    }

  

    .grid-container {

        grid-template-columns: repeat(2, 1fr);

    }

    .box-title {
        font-size: 14px;
        font-weight: 500;
    }

    .box-para {
        font-size: 12px;
        font-weight: 400;
    }

    .grid-container2 {

        grid-template-columns: repeat(2, 1fr);
    }
   



}

@media (max-width:576px) {
    .carousel-img img {
        aspect-ratio: 16/6;
        object-fit: cover;
    }

    .carousel-item .carousel-caption {
        content: '';
        position: absolute;
        top: 6%;
        left: 10%;
        height: 100%;
        width: 85%;
    }



}

@media (max-width:460px) {
    .grid-container {

        grid-template-columns: repeat(1, 1fr);

    }

    .grid-container2 {

        grid-template-columns: repeat(1, 1fr);
    }

}


/* KeyFrames Section */

@keyframes moveleft {
    from{
        left: 0%;
    }
    to{
        left: 120%;
    }
}
/* KeyFrames Section */